<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>controlador.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>ProgramacionPartidoController</servlet-name>
        <servlet-name>ControlPartidoController</servlet-name>
        <servlet-name>TorneoController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/paginas/programacionPartidos.jsp</url-pattern>
        <url-pattern>/paginas/controlPartido.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>util.AppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntrenadorController</servlet-name>
        <servlet-class>controlador.EntrenadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoController</servlet-name>
        <servlet-class>controlador.EquipoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JugadorController</servlet-name>
        <servlet-class>controlador.JugadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramacionPartidoController</servlet-name>
        <servlet-class>controlador.ProgramacionPartidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArbitroController</servlet-name>
        <servlet-class>controlador.ArbitroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPartidoController</servlet-name>
        <servlet-class>controlador.ControlPartidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadisticasController</servlet-name>
        <servlet-class>controlador.EstadisticasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioController</servlet-name>
        <servlet-class>controlador.CalendarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultadosPartidosController</servlet-name>
        <servlet-class>controlador.ResultadosPartidosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TorneoController</servlet-name>
        <servlet-class>controlador.TorneoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JugadorSearch</servlet-name>
        <servlet-class>controlador.JugadorSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntrenadorJugadores</servlet-name>
        <servlet-class>controlador.EntrenadorJugadores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntrenadorController</servlet-name>
        <url-pattern>/EntrenadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoController</servlet-name>
        <url-pattern>/EquipoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JugadorController</servlet-name>
        <url-pattern>/JugadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramacionPartidoController</servlet-name>
        <url-pattern>/ProgramacionPartidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArbitroController</servlet-name>
        <url-pattern>/ArbitroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPartidoController</servlet-name>
        <url-pattern>/ControlPartidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadisticasController</servlet-name>
        <url-pattern>/EstadisticasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioController</servlet-name>
        <url-pattern>/CalendarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultadosPartidosController</servlet-name>
        <url-pattern>/ResultadosPartidosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TorneoController</servlet-name>
        <url-pattern>/TorneoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JugadorSearch</servlet-name>
        <url-pattern>/JugadorSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntrenadorJugadores</servlet-name>
        <url-pattern>/EntrenadorJugadores</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/paginas/404.html</location>
    </error-page>
</web-app>
